.test {
    background-color: #7986cb;
    margin: 5px;
}

@font-face {
    font-family: "Roboto";
    src: local("☺"), url("./Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype"),
        url("fonts/Roboto-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
